---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

// フォント
$post-meta-font: 'Roboto', sans-serif; // font-weight: 400 or 500;


// 横幅
$pc-device-width: 1024px;
$pad-device-width: 769px;
$phone-device-width: 480px;

// カラムレイアウト関係
$gutter-width: 25px;
$column-width: 60px; // 1カラム60px, 2カラム目以降 75px加算 60 + (25 + 60) = 135px
$sum-column-width: $gutter-width + $column-width;

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #005c92; //#2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$site-footer-gray: #E2E2E2;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// color

//$base-blue-light-color: #0076ba; //3B8FDC;
//$base-blue-dark-color: #005c92; //2776BF;

$base-blue-light-color: #1c3177; //3B8FDC;
$base-blue-dark-color: #7f96c2; //2776BF;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "common_column",
        "common_table",
        "default_layout", // レスポンシブ入り
        "page_layout",
        "content_layout",
        "publication",
        "page_member",
        "syntax-highlighting"
;
