---
layout: en/default
title: News
global_navi_ja: false
global_navi_en: false
permalink: /en/
---
<div class="home">
  <h2 class="content-heading">{{ page.title }}</h2>
  {% assign var_main_posts = site.en_posts %}
  {% include common/main_post.html %}
</div>