---
layout: en/default
title: Member
global_navi_ja: false
global_navi_en: true
permalink: /en/member/
---

<h1 class="page-title">{{ page.title }}</h1>

<figure class="all-member">
  <img src="/assets/images/member/2019/shugo_photo_en2.jpg" alt="2016 All Member Photo in OCMP">
</figure>

<ul class="page-sub-menu">
  <li class="page-sub-menu-list col-x-2"><a href="#staff">Staff</a></li>
  <li class="page-sub-menu-list col-x-2"><a href="#postdoctoral-researcher">Ph.D</a></li>
<!--  <li class="page-sub-menu-list col-x-2"><a href="#Kenkyu">Research Students</a></li> -->
  <li class="page-sub-menu-list col-x-2"><a href="#master">Master</a></li>
   <li class="page-sub-menu-list col-x-2"><a href="#bachelor">Bachelor</a></li>
</ul>

<h2 class="content-heading" id="staff">Professor</h2>

{% assign memberPosition = "Professor" %}
{% assign memberDescription = memberPosition %}
{% include en/member-list.html %}

<h2 class="content-heading" id="staff">Assistant professor</h2>

{% assign memberPosition = "Assistant professor" %}
{% assign memberDescription = memberPosition %}
{% include en/member-list.html %}

<h2 class="content-heading" id="staff">Research staff / Professor emeritus</h2>

{% assign memberPosition = "professor emeritus" %}
{% assign memberDescription = memberPosition %}
{% include en/member-list.html %}

<h2 class="content-heading" id="staff">Research staff</h2>

{% assign memberPosition = "research staff" %}
{% assign memberDescription = memberPosition %}
{% include en/member-list.html %}

<h2 class="content-heading" id="postdoctoral-researcher">Ph.D students</h2>

{% assign memberPosition = "Ph.D" %}
{% assign memberDescription = memberPosition %}
{% include en/member-list.html %}

<h2 class="content-heading" id="master">Master course students</h2>

{% assign memberPosition = "Master" %}
{% assign memberDescription = memberPosition %}
{% include en/member-list.html %}

<!--<h2 class="content-heading" id="master">Research Students</h2>

{% assign memberPosition = "Kenkyu" %}
{% assign memberDescription = memberPosition %}
{% include en/member-list.html %}
-->

<h2 class="content-heading" id="bachelor">Bachelor students</h2>

{% assign memberPosition = "Bachelor" %}
{% assign memberDescription = memberPosition %}
{% include en/member-list.html %}
