---
layout: en/default
title: Publication
global_navi_ja: false
global_navi_en: true
permalink: /en/publication/
---
<h1 class="page-title">{{ page.title }}</h1>

{% include en/sub-navigation.html %}

<h2 class="content-heading" id="paper">Paper - Article</h2>

{% include common/publication_post.html %}

<h2 class="content-heading" id="proceeding">Proceedings (without review)</h2>

{% include common/proceeding_post.html %}

<h2 class="content-heading" id="book">Book</h2>

{% include common/book_post.html %}

<h2 class="content-heading" id="misc">Misc</h2>

{% assign var_miscs = site.en_miscs %}
{% include common/misc_post.html %}