<aside  class="col-x-3" id="aside">
  <h2>Menu</h2>
  <ul id="sub-navigation">
    <li>
      <h3 class="menu-topic"><a href="/en/research/">Research</a></h3>
      <ul>
        <li><a href="/en/research/#terahertz">Terahertz spintronics</a></li>
        <li><a href="/en/research/#opto-magnonics">Opto-magnonics</a></li>
        <li><a href="/en/research/#opto-spintronics">Opto-spintronics</a></li>
        <li><a href="/en/research/#opto-chiralphononics">Opto-chiral phononics</a></li>
      </ul>
    </li>
    <li>
      <h3 class="menu-topic"><a href="/en/publication/">Publication</a></h3>
      <ul>
        <li><a href="/en/publication/">Paper - Article</a></li>
        <li><a href="/en/international-conference/">International Conference</a></li>
        <li><a href="/en/publication/#book">Book</a></li>
        <li><a href="/en/publication/#misc">Misc</a></li>
      </ul>
    </li>
    <li>
      <h3 class="menu-topic"><a href="/en/member">Member</a></h3>
      <ul>
        <li><a href="/en/member/#staff">Staff</a></li>
        <!--<li><a href="/en/member/#postdoctoral-researcher">Postdoctoral Researcher</a></li>-->
        <li><a href="/en/member/#postdoctoral-researcher">Doctor</a></li>
        <li><a href="/en/member/#master">Master</a></li>
<!--        <li><a href="/en/member/#Kenkyu">Research Students</a></li> -->
        <li><a href="/en/member/#bachelor">Bachelor</a></li>
      </ul>
    </li>
    <li>
      <h3 class="menu-topic"><a href="/en/contact/">Contact</a></h3>
    </li>
  </ul>
</aside>
