<footer id="site-footer">
  <div class="wrapper">
    <div class="col-x-3 col-mx-2 footer-menu">
      <figure class="footer-logo">
        <a href="https://www.titech.ac.jp/">
          <!--<img src="/assets/images/logo/kyushu-logo-en.png" alt="九州大学のロゴ">-->
          <img src="/assets/images/logo/SciTokyo-logo.png" alt="科学大のロゴ">
        </a>
      </figure>
    </div>
    <div class="col-x-3 col-mx-2 footer-menu">
      <h3 class="menu-topic"><a href="/en/research/">Research</a></h3>
      <ul class="footer-list">
        <li><a href="/en/research/#terahertz">Terahertz spintronics</a></li>
        <li><a href="/en/research/#opto-magnonics">Opto-magnonics</a></li>
        <li><a href="/en/research/#opto-spintronics">Opto-spintronics</a></li>
        <li><a href="/en/research/#opto-chiralphononics">Opto-chiral phononics</a></li>
      </ul>
    </div>
    <div class="col-x-3 col-mx-2 footer-menu">
      <h3 class="menu-topic"><a href="/en/publication/">Publication</a></h3>
      <ul class="footer-list">
        <li><a href="/en/publication/">Paper - Article</a></li>
        <li><a href="/en/international-conference/">International Conference</a></li>
        <li><a href="/en/publication/#book">Book</a></li>
        <li><a href="/en/publication/#misc">Misc</a></li>
      </ul>
    </div>
    <div class="col-x-3 col-mx-2 footer-menu">
      <h3 class="menu-topic"><a href="/en/member">Member</a></h3>
      <ul class="footer-list">
        <li><a href="/en/member/#staff">Staff</a></li>
        <li><a href="/en/member/#postdoctoral-researcher">Doctor</a></li>
        <li><a href="/en/member/#master">Master</a></li>
        <li><a href="/en/member/#bachelor">Bachelor</a></li>
      </ul>
      <h3 class="menu-topic"><a href="/en/contact/">Contact</a></h3>
    </div>
  </div>
  <div class="footer-mark">{{ site.footer_mark }}</div>
</footer>
