<header id="site-header">
  <div class="wrapper">
    <h1 id="site-title"><a href="{{ site.baseurl }}/en/">{{ site.title.en }}</a></h1>
    <p id="site-complement">We study the interaction of light with magnetic and chiral materials using a femtosecond laser.</p>
  </div>
</header>
<nav id="site-global-navigation">
  <div class="wrapper">
    <ul class="site-global-navigation-list">
      <li><a class="page-link" href="/en/">Home</a></li>
      {% for my_page in site.pages reversed %}
        {% if my_page.title %}
          {% if my_page.global_navi_en %}
            {% unless my_page.global_nav_ja %}
            <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endunless %}
          {% endif %}
        {% endif %}
      {% endfor %}
      <li><a class="page-link" href="/">Japanese</a></li>
    </ul>
  </div>
</nav>