{% assign memberExistFlag = false %}
<ol class="member-list-wrapper">
  {% for member in site.en_members %}
    {% if member.position == memberPosition %}
      {% assign memberExistFlag = true %}
      <li class="member-list col-x-2">
        <a class="member-page-link" href="{{ member.url | prepend: site.baseurl }}">
          <figure>
            {% if member.image %}
              <img src="{{ member.image }}" alt="{{ member.name.en.last }} {{ member.name.en.first }}" class="member-image">
            {% else %}
              <img src="{{ site.member_no_image }}" alt="No Image Sorry." class="member-image">
            {% endif %}
            <figcaption class="member-name-caption">{{ member.name.en.short }}</figcaption>
          </figure>
        </a>
      </li>
    {% endif %}
  {% endfor %}
  {% unless memberExistFlag %}
  <li> </li>
{% endunless %}
</ol>