<ul class="page-sub-menu">
  <li class="page-sub-menu-list col-x-3"><a href="/en/publication/">Paper - Articles</a></li>
  <li class="page-sub-menu-list col-x-3"><a href="/en/international-conference/">International Conference</a></li>
</ul>