<!DOCTYPE html>
<html lang="ja">
  {% include ja/head.html %}
  <body>
    {% include ja/header.html %}
    <div class="page-content">
      <div class="wrapper">
        {% include ja/aside.html %}
        <main class="col-x-9 clearfix" id="site-main" role="main">
        {{ content }}
        </main>
      </div>
    </div>
    {% include ja/footer.html %}
    {% include common/google_analytics.html %}
  </body>
</html>