<!DOCTYPE html>
<html lang="ja">
  {% include ja/head.html %}
  <body>
    {% include ja/header.html %}
    <div class="page-content">
      <div class="wrapper">
        {% include ja/aside.html %}
        <main class="col-x-9 clearfix lecture-wrapper" id="site-main" role="main">
        {% assign syllabus = page.syllabus %}
        <p class="lecture-meta-data"><span class="lecture-day">開講日 : <time>{{ page.date | date: '%Y年%m月%d日' }}</time></span></p>
        <h2>【第{{ page.number }}回】{{ page.title }}</h2>
        <dl class="syllabus">
          <dt>教員</dt>
          <dd>{{ syllabus.staff }}</dd>
          <dt>年度</dt>
          <dd>{{ syllabus.year }}</dd>
          <dt>学期</dt>
          <dd>{{ syllabus.term }}</dd>
          <dt>開講日</dt>
          <dd>{{ syllabus.day }}</dd>
          <dt>必修/選択</dt>
          <dd>{{ syllabus.required }}</dd>
          <dt>教室</dt>
          <dd>{{ syllabus.room }}</dd>
          <dt>使用言語</dt>
          <dd>{{ syllabus.language }}</dd>
        </dl>
        {{ content }}
        </main>
      </div>
    </div>
    {% include ja/footer.html %}
    {% include common/google_analytics.html %}
    {% include common/ninja.html %}
    {% include common/mathjax.html %}
  </body>
</html>