---
layout: ja/default
---
<article class="post">

  <header class="post-header">
    <h1 class="page-title">{{ page.title }}</h1>
  </header>

  <div class="page-content">
    {{ content }}
  </div>

</article>
