.member-table {
  margin-bottom: 2rem;
  tr td:first-child {
    min-width: 5em;
  }
  th, td {
    padding: 5px;
  }
}

.contact-table {
  margin-bottom: 2rem;
  tr {
    border-bottom: 1px solid $grey-color-light;
    td:first-child {
      min-width: 5em;
    }
  }
  th, td {
    vertical-align: middle;
    padding: 5px;
  }
  .email-image {
    height: 1.3em;
  }
}

// $base-blue-dark-color


@mixin table-unit-style() {
  .units-table {
    width: 100%;
    word-break: keep-all;
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto 3rem auto;
    * {
      box-sizing: border-box;
    }
    tr {
      background-color: #FFF;
      border: 1px solid #ccc;
      &:first-child {
        font-weight: 600;
      }
      &:nth-child(even) {
        background-color: #f8f8f8;
      }
      transition: 0.1s linear all;
      &:hover {
          transition: 0.1s linear all;
          border-color: $base-blue-dark-color;
          background-color: #D8ECFF;
      }
    }
    th, td {
      padding: 6px 13px;
      border: 1px solid #ddd;
      text-align: center;
      height: 60px;
      overflow: auto;
    }
    td {
      font-size: 0.65rem;
    }
  }
  @media screen and (min-width: $pad-device-width) and (max-width: $pc-device-width) {
    .units-table {
        overflow-x: scroll;
    }
  }
  @media screen and (max-width: $pad-device-width) {
    .units-table {
        overflow-x: scroll;
    }
  }
}