.clearfix {
   &:after {
      content: " ";
      clear: both;
      visibility:hidden;
      font-size: 0;
      height: 0;
  }
}

%overflow-clearfix {
  overflow: hidden;
  height: auto;
  display: grid; //added 240925
  grid-template-columns: repeat(3, 1fr); //added 240925
}

@for $i from 1 through 12 {
  .col-x-#{$i} {
    width: $column-width * $i + $gutter-width * ($i - 1);
    float: left;
    @if $i < 12 {
        margin-right: 10px 
      //margin-right: $gutter-width;
    } @else {
      // 横幅いっぱいのときはmargin-rightは不要
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: $pc-device-width ) {
  @for $i from 1 through 4 {
    .col-mx-#{$i} {
      box-sizing: border-box;
      width: 100% / 4 * $i;
      min-height: 200px;
      margin: 0;
      padding: 10px 40px;
      @if $i < 4 {
        float: left;
      }
    }
  }
}
