.content-heading {
  border-bottom: 1px solid #979797;
  padding-bottom: 0.45em;
}

%pdf-icon {
  &:before {
      position: relative;
      top: 4px;
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 5px;
      background-image: url("/assets/icon/Adobe_PDF_file_icon_32x32.png");
      background-size: contain;
    }
}