// ヘッダー

#site-header {
    width: 100%;
    min-height: 150px;
    background-color: $base-blue-light-color;
    position: relative;
    padding-top: 27px;
    padding-bottom: 27px;
    box-sizing: border-box;

    #site-title a {
        font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
        font-size: 2.4rem;
        color: #FFFDFF;
    }

    #site-complement {
        color: #FFF;
        margin-bottom: 0;
    }

}

// ヘッダー内のグローバルナビゲーション

#site-global-navigation {
    position: relative;
    width: 100%;
    background-color: $base-blue-dark-color;
    margin-bottom: 30px;
    .site-global-navigation-list {
        overflow: hidden;
        margin: 0;
        li {
            float: left;
            width: 16.6666%; // 個数
        }
    }
    .page-link {
        color: #000;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        display: block;
    }
}

// サイドナビゲーション

#aside {
    margin-right: 20px;
    * {
        box-sizing: border-box;
    }
    #sub-navigation {
        width: 100%;
    }
    .menu-topic {
        margin: 0;
        background-image: url("/assets/images/material/aside-back.png");
        background-position: center center;
        a {
            display: block;
            color: #FFF;
            padding: 10px 0 10px 10px;
        }
        & + ul li {
            margin-bottom: 0.5em;
            &:first-child {
                margin-top: 0.5em;
            }
        }
    }
}

// ページコンテンツ
.page-content {
    overflow: hidden;
    margin-bottom: 30px;
    @include table-unit-style();
}

// mainのスタイル
#site-main {
    background-color: #fff;
    padding: 25px 35px;
    margin-right: 0;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
}

// ポストコンテンツのスタイル
.post-list {
    .post-item {
        margin: 0;
        overflow: hidden;
        border-bottom: 1px solid $grey-color-light;
        padding: 1.5em 0;
        &:last-child {
            border-bottom: none;
        }
    }
    .post-item-category-title {
        font-size: 1rem;
        vertical-align: top;
        color: darken($grey-color, 10%);
        margin-bottom: 0.2em;
    }
    .post-meta {
        /* Rectangle 38: */
        //background: $base-blue-dark-color;
        background: $base-blue-light-color;
        width: 76px;
        height: 76px;
        float: left;
        margin-right: 20px;
        * {
            box-sizing: border-box;
        }
        & > span {
            width: 100%;
            display: block;
            padding: 5px;
            text-align: center;
        }
        & > .year {
            /* 2016: */
            font-family: $post-meta-font;
            font-size: 15px;
            color: #FFF;
            line-height: 8px;
            margin-top: 0.5em;
            margin-bottom: 0.27em;
        }

        & > .month-day {
            /* 4/1: */
            font-family: $post-meta-font;
            font-weight: 500;
            font-size: 15px;
            color: #FFF;
            line-height: 8px;
            margin-bottom: 0.3em;
        }

        & > .week-day {
            /* Fri: */
            font-family: $post-meta-font;
            font-size: 15px;
            color: #FFF;
            line-height: 8px;
        }
    }
    .post-item-content {
        float: left;
        max-width: calc(100% - 100px);
    }
    .post-content {
        float: left;
        @extend %clearfix;
    }
}

// Markdownからの変換
.post-header {
    .post-title {
        border-bottom: 1px solid $grey-color;
        padding-bottom: 0.4em;
    }
    .post-meta {
        text-align: right;
        time {
            background-color: $grey-color;
            color: #FFF;
            padding: 3px 5px;
        }
    }
}
.post-content {
    %post-list-style {
        margin-left: 2em;
        margin-bottom: 0.6em;
        &:before {
            content: "";
            margin-right: 0.6em;
        }
    }
    ul li, ol li {
        @extend %post-list-style;
    }
    ul li {
        list-style: disc;
    }
    ol li {
        list-style: decimal;
    }
    a {
        text-decoration: underline;
    }
}

.library-list {
    $square-height: 76px;
    .library-item {
        @extend %clearfix;
        .library-meta {
            background: $base-blue-dark-color;
            width: $square-height;
            min-height: $square-height;
            height: 100%;
            float: left;
        }
        .library-link {
            overflow: hidden;
            display: block;
        }
        .library-item-content {
            box-sizing: border-box;
            min-height: $square-height;
            float: left;
            background-color: #FFF;
            border: 1px solid $grey-color-light;
            width: -webkit-calc(100% - 76px);
            width: calc(100% - 76px);
            padding: 7px 20px;
            transition: 0.33s linear all;
            &:hover {
                transition: 0.33s linear all;
                border-color: $base-blue-dark-color;
                background-color: #D8ECFF;
            }
            * {
                font-size: 1rem;
            }
            .library-item-title {
                margin-bottom: 0.5rem;
                font-weight: bold;
                color: $brand-color;
            }
            p {
                margin-bottom: 0;
                color: $text-color;
            }
        }
    }
}

.lecture-list {
    .lecture-item {
        list-style-type: disc;
        margin-left: 2rem;
        margin-bottom: 0.5rem;
    }
}

.lecture-wrapper {
    .lecture-meta-data {
        text-align: right;
        .lecture-day { padding: 5px; background-color: $grey-color-dark; color: #FFF; }
    }
    .syllabus {
        @extend %clearfix;
        margin-bottom: 2rem;
        * { box-sizing: border-box; }
        dt { width: 15%; padding: 5px; font-weight: bold; float: left; background-color: $grey-color-light;}
        dd { width: 35%; padding: 5px 15px; float: left; }
    }
}

@media screen and (max-width: $pad-device-width) {
    .lecture-wrapper {
        .syllabus {
            dt { width: 30%; border: 1px solid $grey-color-light; }
            dd { width: 70%; border: 1px solid $grey-color-light; }
        }
    }
}

// footer

#site-footer {
    position: relative;
    background-color: $site-footer-gray;
    box-sizing: border-box;
    padding-top: 25px;
    *{
        box-sizing: border-box;
    }
    .wrapper {
        overflow: hidden;
    }
    .footer-logo {
        text-align: center;
        img {
            width: 50%;
            max-width: 100px;
            margin: 0 auto;
            opacity: 0.6;
        }
    }
    .footer-list {
        li {
            list-style: disc;
            list-style-type: disc;
            margin-left: 20px;
        }
    }
    .footer-mark {
        width: 100%;
        text-align: center;
        background-color: darken($site-footer-gray, 60%);
        padding: 10px;
        color: #FFF;
    }
}


// タブレット以上、PC以下
@media screen and (min-width: $pad-device-width) and (max-width: $pc-device-width) {
    #site-header {
        #site-title {
            padding: 5px 15px;
        }
        #site-complement {
            padding: 5px 15px;
        }
    }
    .wrapper {
        width: 100%;
    }
    #aside {
        display: none;
    }
    #site-main {
        width: 90%;
        margin: 0 auto;
        float: none;
    }
    #site-footer {
        .footer-menu {
            ul li {
                margin-left: 0;
                margin-bottom: 0.5em;
                list-style: none;
                a {
                    display: block;
                    padding: 15px;
                    background-color: #FEFEFE;
                }
            }
        }
    }
}

// タブレット以下
@media screen and (max-width: $pad-device-width) {
    #site-header {
        position: relative;
        height: auto;
        max-height: none;
        overflow: hidden;
        #site-title {
            padding: 5px 15px;
            a {
                font-size: 150%;
            }
        }
        #site-complement {
            padding: 5px 15px;
        }
    }
    #site-global-navigation {
        position: relative;
        .site-global-navigation-list li {
            width: 50%;
            padding: 10px;
            box-sizing: border-box;
            border-bottom: 1px solid #FFF;
            &:nth-child(odd) {
                border-right: 1px solid #FFF;
            }
        }
    }
    #site-main {
        // サブメニューの調整
        .page-sub-menu {
            &-list {
             // 1カラムにした。
             display: flex;
             justify-content: center;
             align-items: center;
             width: 100%;
             flex-wrap: wrap;
              a {
                // 押しやすようにpaddingを追加
                padding-top: 15px;
                padding-bottom: 15px;
                margin: 10px;
                flex: 1 1 200px;
                text-align: center;
              }
            }
        }
        .member-list {
            margin-bottom: 30px;
            width: 48%;
            &:nth-child(odd) {
                margin-right: 2%;
            }
            &:nth-child(even) {
                margin-right: 0;
            }
        }
    }
    .wrapper {
        width: 100%;
    }
    #aside {
        display: none;
    }
    #site-main {
        float: none;
        margin: 0 auto;
        width: 95%;
    }
    #site-footer {
        padding-bottom: 0;
        .wrapper {
            overflow: hidden;
        }
        .menu-topic a {
            padding: 10px;
            display: block;
            text-align: center;
        }
        .footer-menu {
            margin: 0 auto;
            float: none;
            width: 96%;
            padding: 10px;
            ul li {
                margin-left: 0;
                margin-bottom: 0.5em;
                list-style: none;
                a {
                    display: block;
                    padding: 15px;
                    background-color: #FEFEFE;
                }
            }
        }
        .footer-mark {
            position: relative;
        }
    }
}