.member-list-wrapper {
  @extend %overflow-clearfix;
}

.member-list {
  .member-image {
    width: 100%;
  }
  .member-name-caption {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }
  .member-page-link {
    display: inline-block;
    border: 1px solid #CCC;
    figure {
      position: relative;
      margin: 0;
      figcaption {
        position: absolute;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 5px;
        box-sizing: border-box;
      }
    }
  }
}

// 個人ページ
.member-page {
  min-height: 2 * $member-image-height;
  .post-header {
    position: relative;
  }
  .post-title {
    border-bottom: 1px solid #8c8c8c;
    padding-bottom: 0.5em;
  }
  .profile-image {
    float: right;
    margin-left: 1.5em;
    margin-bottom: 0.7em;
    width: $member-image-height;
    max-width: 180px;
    border: 1px solid #000;
  }
  ul, ol {
    li {
      margin-bottom: 0.4em;
      &:first-child {
        margin-top: 0.4em;
      }
    }
  }
  ul li {
    list-style-type: disc;
  }
  ol li {
    list-style-type: decimal;
  }
}

.all-member {
  margin-bottom: 2em;
}

// レスポンシブ対応
@media screen and (max-width: $pad-device-width) {
    // ポスト関係
    .member-page .profile-image {
        float: none;
        display: block;
        width: 50%;
        margin: 0 auto 2em auto;
        position: static;
        left: 0;
    }
}