// メンバーページのレイアウト
$member-image-height: 150px;
.page-title, .post-title {
    font-size: 2em;
}

// ページコンテント全体
.page-content {
}

.page-sub-menu {
  @extend %overflow-clearfix;
  margin-bottom: 2em;
  .page-sub-menu-list {
    margin-bottom: 1.5em;
    a {
      text-align: center;
      color: #FFF;
      padding: 6px;
      display: block;
      background: $base-blue-light-color;
    }
  }
}
