%publication-list-style {
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-left: solid 5px #C8C8C8;
  padding: 0.7em;
  margin-bottom: 1.5em;
  transition: 0.2s linear all;
  &:hover {
    transition: 0.2s linear all;
    background-color: rgb(255, 253, 146);
    box-shadow: 0 3px 5px rgba(50, 50, 50, 0.45);
  }
}
%publication-list-title {
  font-family: HelveticaNeue-Bold;
  font-weight: bold;
  color: #000;
  margin-bottom: 0.5em;
}

.publications {
  * {
    font-size: 1rem;
  }
  .publication-list {
    @extend %publication-list-style;
  }
  // タイトル
  .publication-title {
    @extend %publication-list-title;
    .publication-link {
      color: #000;
    }
  }
  .publication {
    &-author,
    &-site-link,
    &-magazine,
    &-plain-text,
    &-complement {
    margin-bottom: 0.5em;
    }
  }
  .publication-pdf {
    margin-bottom: 0.5em;
    @extend %pdf-icon;
  }
}

.conferences {
  * {
    font-size: 1rem;
  }
  ul, ol {
    margin-left: 20px;
  }
  .conference-list {
    @extend %publication-list-style;
    padding: 0;
  }
  .conference-title {
    @extend %publication-list-title;
    padding: 0.7em;
    background-color: #E1EBF5;
  }
  .presentation-infomation {
    padding: 0.7em;
    .presentation-id {
      list-style-type: disc;
      font-weight: 600;
    }
    .presentation-list-head {
      list-style-type: disc;
    }
    .presentation-authors {
      margin-bottom: 0.5em;
    }
  }
}


%conference-article {
  margin-bottom: 3em;
  $label-buffer: 1%;
  $child-elem-margin: 7% + $label-buffer;
  $child-elem-label-width: 20%;
  * {
    font-size: 1rem;
    box-sizing: border-box;
  }
  .conference-header {
    overflow: hidden;
    .conference-label {
      display: inline-block;
      width: $child-elem-margin;
      text-align: center;
      padding: 3px;
      color: #FFF;
      background-color: $brand-color;
      margin-right: $label-buffer;
      line-height: 1.2em;
      float: left;
      min-width: 52px;
    }
    .conference-title {
      font-weight: bold;
      float: left;
      width: 100% - $child-elem-margin - $label-buffer;
    }
  }
  .conference-content {
    .presentation-list {
      @extend %clearfix;
      width: 100% - $child-elem-margin - $label-buffer;
      background-color: #FFF;
      border: 1px solid #CCC;
      padding: 15px 0;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.22);
      margin-left: $child-elem-margin + $label-buffer;
      margin-bottom: 1em;
    }
    .presentation-item-label {
      font-weight: bold;
      float: left;
      width: $child-elem-label-width;
      min-width: 110px;
      padding: 5px 15px;
      border-right: none;
    }
    .presentation-item-content {
      float: left;
      width: 100% - $child-elem-label-width;
      padding: 5px 20px;
      border-left: 1px solid #C5C5C5;
    }
    .presentation-id {
      font-weight: bold;
    }
    .presentation-title {

    }
    .presentation-author {

    }
  }

  @media screen and (max-width: $pad-device-width) {
    %smart-content {
      width: 98%;
      margin-left: auto;
      margin-right: auto;
    }
    .conference-header {
      @extend %smart-content;
      .conference-label {
        float: none;
        margin-bottom: 1em;
      }
      .conference-title {
        float: none;
        width: 100%;
        margin-bottom: 1em;
      }
    }
    .conference-content {
      .presentation-list {
        @extend %smart-content;
      }
      .presentation-item-label {
        float: none;
        width: $child-elem-label-width;
        min-width: 110px;
        padding: 5px 15px;
        border-right: none;
      }
      .presentation-item-content {
        float: none;
        width: 100%;
        padding: 5px 15px 5px 2em;
        border-left: none;
      }
    }
  }
}

.conference-article {
  @extend %conference-article;
}
