<!DOCTYPE html>
<html lang="en">
  {% include en/head.html %}
  <body>
    {% include en/header.html %}
    <div class="page-content">
      <div class="wrapper">
        {% include en/aside.html %}
        <main class="col-x-9 clearfix" id="site-main" role="main">
        {{ content }}
        </main>
      </div>
    </div>
    {% include en/footer.html %}
    {% include common/google_analytics.html %}
  </body>
</html>