---
layout: en/default
---
<article class="post member-page">

  <header class="post-header">
    <h1 class="post-title">{{ page.name.en.first }} {{ page.name.en.last }} | {{ page.name.en.short }}</h1>
    {% if page.image %}
      <img src="{{ page.image }}" alt="{{ page.name.en.last }} {{ page.name.en.first }}" class="profile-image">
    {% else %}
      <img src="{{ site.member_no_image }}" alt="No Image Sorry" class="profile-image">
    {% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
