<ul class="publications">
  {% for book in site.common_books reversed %}
    <li class="publication-list">
      <h3 class="publication-title"><a target="_blank" href="{{ book.book_url }}">{{ book.title }}</a></h3>
      <p>{{ book.body }}</p>
      <p class="publication-author">{{ book.authors }}</p>
    </li>
  {% endfor %}
</ul>