{% assign page_lang = page.url | slice: 1, 2 %}
{% if conference_item %}
<dl class="presentation-list">
{% if conference_item.id %}
  <dt class="presentation-item-label">{% if page_lang == "ja" %}講演番号{% else %}Number{% endif %}</dt>
  <dd class="presentation-item-content presentation-id">{{ conference_item.id }}</dd>
{% endif %}
  <dt class="presentation-item-label">{% if page_lang == "ja" %}講演題目{% else %}Title{% endif %}</dt>
  <dd class="presentation-item-content presentation-title">{{ conference_item.title }}{% if conference_item.invited %} <b>(invited)</b>{% endif %}</dd>
  <dt class="presentation-item-label">{% if page_lang == "ja" %}著者{% else %}Author{% endif %}</dt>
  <dd class="presentation-item-content presentation-authors">{{ conference_item.authors }}</dd>
</dl>
{% endif %}