{% if conference_item %}
{% if conference_item.id %}
<li class="presentation-id">{{ conference_item.id }}</li>
<li class="presentation-title">{{ conference_item.title }}{% if conference_item.invited %} <b>(invited)</b>{% endif %}</li>
{% else %}
<li class="presentation-title presentation-list-head">{{ conference_item.title }}{% if conference_item.invited %} <b>(invited)</b>{% endif %}</li>
{% endif %}
<li class="presentation-authors">{{ conference_item.authors }}</li>
{% endif %}