{% assign counter = 0 %}
{% for conference in any_conference reversed %}
{% assign counter = counter | plus: 1 %}
<article class="conference-article">
<header class="conference-header">
  <div class="conference-label">{{ counter }}</div>
  <h1 class="conference-title">{% include common/conference_title.html %}</h1>
</header>
<div class="conference-content">
  {% assign conference_item = conference.first_presentation %}
  {% include common/conference_post_table_item.html %}
  {% assign conference_item = conference.second_presentation %}
  {% include common/conference_post_table_item.html %}
  {% assign conference_item = conference.third_presentation %}
  {% include common/conference_post_table_item.html %}
  {% assign conference_item = conference.fourth_presentation %}
  {% include common/conference_post_table_item.html %}
  {% assign conference_item = conference.fifth_presentation %}
  {% include common/conference_post_table_item.html %}
  {% assign conference_item = conference.sixth_presentation %}
  {% include common/conference_post_table_item.html %}
  {% assign conference_item = conference.seventh_presentation %}
  {% include common/conference_post_table_item.html %}
  {% assign conference_item = conference.eighth_presentation %}
  {% include common/conference_post_table_item.html %}
  {% assign conference_item = conference.nineth_presentation %}
  {% include common/conference_post_table_item.html %}
  {% assign conference_item = conference.tenth_presentation %}
  {% include common/conference_post_table_item.html %}
</div>
</article>
{% endfor %}
