<ul class="conferences">
  {% for conference in any_conference reversed %}
    <li class="conference-list">
      <h3 class="conference-title">{% include common/conference_title.html %}</h3>
      <ul class="presentation-infomation">
        {% assign conference_item = conference.first_presentation %}
        {% include common/conference_post_item.html %}
        {% assign conference_item = conference.second_presentation %}
        {% include common/conference_post_item.html %}
        {% assign conference_item = conference.third_presentation %}
        {% include common/conference_post_item.html %}
        {% assign conference_item = conference.fourth_presentation %}
        {% include common/conference_post_item.html %}
      </ul>
    </li>
  {% endfor %}
</ul>