<article>
<h3>{{ lecture_title }}</h3>
<ul class="lecture-list">
  {% for lecture in site.common_lectures %}
    {% if lecture_title == lecture.title %}
    <li class="lecture-item">
      <a class="lecture-link" href="{{ lecture.url | prepend: site.baseurl }}">第{{ lecture.number }}回 | {{ lecture.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</article>