<ul class="post-list">
  {% for post in var_main_posts reversed %}
    <li class="post-item">
      <div class="post-meta">
        {{ post.date | date: '<span class="year">%Y</span><span class="month-day">%m.%d</span><span class="week-day">%a</span>' }}
      </div>
      <div class="post-item-content">
        <h3 class="post-item-category-title">{{ post.categories }}</h3>
        <p><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
      </div>
    </li>
  {% endfor %}
</ul>