<ul class="publications">
  {% for misc in var_miscs reversed %}
    <li class="publication-list">
      <h3 class="publication-title">{{ misc.title }}</h3>
      <p class="publication-author">{{ misc.authors }}</p>
      {% if misc.magazine.url %}
        <p class="publication-magazine"><a target="_blank" href="{{ misc.magazine.url }}">{{ misc.magazine.title }}</a></p>
      {% else %}
        <p class="publication-magazine">{{ misc.magazine.title }}</p>
      {% endif %}
      {% if misc.pdf.url %}
        <p class="publication-pdf"><a target="_blank" href="{{ misc.pdf.url }}">{{ misc.pdf.title }}</a></p>
        {% else %}
        <p class="pubcalit-plain-text">{{ misc.pdf.title }}</p>
      {% endif %}
    </li>
  {% endfor %}
</ul>