<ul class="publications">
  {% for proceeding in site.common_proceedings reversed %}
    <li class="publication-list">
      <h3 class="publication-title">{{ proceeding.title }}</h3>
      <p class="publication-author">{{ proceeding.authors }}</p>
      <p>
        {% if proceeding.paper.url %}
          <a href="{{ proceeding.paper.url }}">{{ proceeding.paper.title }}</a>
        {% endif %}
        {{ proceeding.body }}
      </p>
    </li>
  {% endfor %}
</ul>