<ul class="publications">
    {% for publication in site.common_publications reversed %}
      <li class="publication-list">
        <h3 class="publication-title">{{ publication.title }}</h3>
        <p class="publication-author">{{ publication.authors }}</p>
        <p class="publication-site-link">
          <a href="{{ publication.site_url }}" target="_blank">
            <i class="pub-journal">{{ publication.journal }}</i>
            <b class="pub-volume">{{ publication.volume }}</b><b class="contents" id="comma"></b>
            <span class="pub-page">{{ publication.page }}</span>
            <span class="pub-year">({{ publication.year }})</span>
          </a>
        </p>
        {% if publication.pdf.url %}
          <p class="publication-pdf"><a href="{{ publication.pdf.url }}" target="new">{{ publication.pdf.title }}</a></p>
        {% endif %}
        {% if publication.complement %}
          <p class="publication-complement">{{ publication.complement }}</p>
        {% endif %}
      </li>
    {% endfor %}
    <script type="text/javascript">
      // window.onload = function onLoad() {
          {target = document.getElementById("comma");
          vol = document.getElementById("pub-volume");
          if (vol==61){target.innerHTML = ",";}
      }
    </script>
  </ul>