---
layout: ja/default
title: 国内会議
global_navi_ja: false
global_navi_en: false
permalink: /ja/domestic-conference/
---
<h1 class="page-title">{{ page.title }}</h1>

{% include ja/sub-navigation.html %}

<h2 class="content-heading" id="domestic-conference">国内会議</h2>

{% assign any_conference = site.ja_domestic_conferences %}
{% include common/conference_post_table.html %}

<h2 class="content-heading" id="colloquium">国内外のセミナー・コロキウム</h2>

{% assign any_conference = site.ja_colloquiums %}
{% include common/conference_post_table.html %}
