---
layout: ja/default
title: 講義連絡
global_navi_ja: false
global_navi_en: false
permalink: /ja/lecture/
---

<div class="home">
  <h2 class="content-heading">{{ page.title }}</h2>
  {% assign lecture_title = "物理学総合演習" %}
  {% include common/lecture.html %}
</div>