---
layout: ja/default
title: ライブラリ
global_navi_ja: false
global_navi_en: false
permalink: /ja/library/
---
<div class="home">
  <h2 class="content-heading">{{ page.title }}</h2>
  <ul class="library-list">
    {% for library in site.ja_libraries %}
      <li class="library-item">
        <a class="library-link" href="{{ library.url | prepend: site.baseurl }}">
          <div class="library-meta"></div>
          <div class="library-item-content">
            <h3 class="library-item-title">{{ library.title }}</h3>
            <p>最終更新日: {{ library.update_at | date: "%Y-%m-%d" }}, 作成日: {{ library.create_at | date: "%Y-%m-%d" }}</p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>