---
layout: ja/default
title: メンバー
global_navi_ja: true
global_navi_en: false
permalink: /ja/member/
---

<h1 class="page-title">{{ page.title }}</h1>

<figure class="all-member">
  <img src="/assets/images/member/2019/shugo_photo_ja2.jpg" alt="平成28年度 九州大学光物性研究室 集合写真">
</figure>

<ul class="page-sub-menu">
  <li class="page-sub-menu-list col-x-2"><a href="#staff">スタッフ</a></li>
  <li class="page-sub-menu-list col-x-2"><a href="#doctor">博士課程</a></li>
  <li class="page-sub-menu-list col-x-2"><a href="#master">修士課程</a></li>
  <!--<li class="page-sub-menu-list col-x-2"><a href="#Kenkyu">研究生</a></li> -->
  <li class="page-sub-menu-list col-x-2"><a href="#bachelor">学部生</a></li>
</ul>

<p>※写真をクリックすると、個人ページに飛びます。</p>

<h2 class="content-heading" id="staff">教授</h2>

{% assign memberPosition = "Professor" %}
{% assign memberDescription = "教授" %}
{% include ja/member-list.html %}

<h2 class="content-heading" id="staff">助教</h2>

{% assign memberPosition = "Assistant professor" %}
{% assign memberDescription = "助教" %}
{% include ja/member-list.html %}

<h2 class="content-heading" id="staff">研究員・名誉教授</h2>

{% assign memberPosition = "professor emeritus" %}
{% assign memberDescription = "研究員・名誉教授" %}
{% include ja/member-list.html %}

<h2 class="content-heading" id="staff">研究員</h2>

{% assign memberPosition = "research staff" %}
{% assign memberDescription = "研究員" %}
{% include ja/member-list.html %}

<h2 class="content-heading" id="postdoctoral-researcher">博士課程</h2>

{% assign memberPosition = "Ph.D" %}
{% assign memberDescription = "博士課程" %}
{% include ja/member-list.html %}

<h2 class="content-heading" id="master">修士課程</h2>

{% assign memberPosition = "Master" %}
{% assign memberDescription = "修士課程の学生" %}
{% include ja/member-list.html %}
<!--
<h2 class="content-heading" id="Kenkyu">研究生</h2>

{% assign memberPosition = "Kenkyu" %}
{% assign memberDescription = "研究生" %}
{% include ja/member-list.html %}
-->
<h2 class="content-heading" id="bachelor">4年生</h2>

{% assign memberPosition = "Bachelor" %}
{% assign memberDescription = "4年生" %}
{% include ja/member-list.html %}
