---
layout: ja/default
title: 研究成果
global_navi_ja: true
global_navi_en: false
permalink: /ja/publication/
---
<h1 class="page-title">{{ page.title }}</h1>

{% include ja/sub-navigation.html %}

<h2 class="content-heading" id="paper">論文 - 学術雑誌</h2>

{% include common/publication_post.html %}

<h2 class="content-heading" id="proceeding">プロシーディングス (査読なし)</h2>

{% include common/proceeding_post.html %}

<h2 class="content-heading" id="book">書籍</h2>

{% include common/book_post.html %}

<h2 class="content-heading" id="patent">特許</h2>

<ul class="publications">
  {% for patent in site.ja_patents reversed %}
    <li class="publication-list">
      <h3 class="publication-title">{{ patent.title }}</h3>
      <p class="publication-author">{{ patent.authors }}</p>
      <p>{{ patent.submit_date }}</p>
    </li>
  {% endfor %}
</ul>

<h2 class="content-heading" id="misc">その他(解説など)</h2>

{% assign var_miscs = site.ja_miscs %}
{% include common/misc_post.html %}
