<footer id="site-footer">
  <div class="wrapper">
    <div class="col-x-3 col-mx-2 footer-menu">
      <figure class="footer-logo">
        <a href="https://www.titech.ac.jp/">
          <!--<img src="/assets/images/logo/kyushu-logo-ja.png" alt="九州大学のロゴ">-->
          <img src="/assets/images/logo/SciTokyo-logo.png" alt="科学大のロゴ">
        </a>
      </figure>
    </div>
    <div class="col-x-3 col-mx-2 footer-menu">
    <h3 class="menu-topic"><a href="/ja/research/">研究紹介</a></h3>
    <ul class="footer-list">
      <li><a href="/ja/research/#terahertz">テラヘルツスピントロニクス</a></li>
      <li><a href="/ja/research/#opto-magnonics">光マグノニクス</a></li>
      <li><a href="/ja/research/#opto-spintronics">光スピントロニクス</a></li>
      <li><a href="/ja/research/#opto-chiralphononics">光・カイラル・フォノニクス</a></li>
    </ul>
    </div>
    <div class="col-x-3 col-mx-2 footer-menu">
      <h3 class="menu-topic"><a href="/ja/publication/">研究成果</a></h3>
      <ul class="footer-list">
        <li><a href="/ja/publication/">論文 - 学術雑誌</a></li>
        <li><a href="/ja/international-conference/">国際会議</a></li>
        <li><a href="/ja/domestic-conference/">国内会議</a></li>
        <li><a href="/ja/domestic-conference/#colloquium">国内外のセミナー・コロキウム</a></li>
        <li><a href="/ja/publication/#book">書籍</a></li>
        <li><a href="/ja/publication/#patent">特許</a></li>
        <li><a href="/ja/publication/#misc">その他(解説記事)</a></li>
      </ul>
    </div>
    <div class="col-x-3 col-mx-2 footer-menu">
      <h3 class="menu-topic"><a href="/ja/member/">メンバー</a></h3>
      <ul class="footer-list">
        <li><a href="/ja/member/#staff">スタッフ</a></li>
        <li><a href="/ja/member/#postdoctoral-researcher">博士課程</a></li>
        <li><a href="/ja/member/#master">修士課程</a></li>
        <li><a href="/ja/member/#bachelor">学部生</a></li>
      </ul>
      <h3 class="menu-topic"><a href="/ja/contact/">コンタクト</a></h3>
      <h3 class="menu-topic"><a href="/ja/library/">ライブラリ</a></h3>
      <h3 class="menu-topic"><a href="/ja/lecture/">講義</a></h3>
    </div>
  </div>
  <div class="footer-mark">{{ site.footer_mark }}</div>
</footer>
