<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <title>{% if page.title %}{{ page.title }} | {{ site.title.ja }}{% else %}{{ site.title.ja }}{% endif %}</title> -->
  <title>{{ site.title.ja }}</title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.meta.og.ja.description }}{% endif %}">
  <meta name="keyword" content="{{ site.meta.keyword }}">

  <meta property="og:site_name" content="{{ site.title.ja }}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.meta.og.ja.description }}{% endif %}" />
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title.ja }}{% endif %}" />
  <meta property="og:type" content="{% if page.type %}{{ page.type }}{% else %}{{ site.meta.og.type }}{% endif %}" />
  <meta property="og:url" content="{% if page.url %}{{ page.url }}{% else %}{{ site.meta.ogurl }}{% endif %}" />
  <meta property="og:image" content="{{ site.meta.og.image }}" />
  <meta property="fb:app_id" content="1067174566661734" />

  {% if page.url == '/en/' %}
  <link rel="alternate" hreflang="ja" href="{{ site.url }}{{ page.url | remove_first: '/en/' }}">
  {% else %}
  <link rel="alternate" hreflang="ja" href="{{ site.url }}{{ page.url | replace: '/en/', '/ja/' }}">
  {% endif %}
  {% if page.url == '/' %}
  <link rel="alternate" hreflang="en" href="{{ site.url }}/en/">
  {% else %}
  <link rel="alternate" hreflang="en" href="{{ site.url }}{{ page.url | replace: '/ja/', '/en/' }}">
  {% endif %}

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title.ja }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="apple-touch-icon" href="/assets/images/logo/apple-touch-icon.png" />
  <link rel="shortcut icon" href="/assets/images/logo/favicon.png" type="image/png" />

</head>