<header id="site-header">
  <div class="wrapper">
    <h1 id="site-title"><a href="{{ site.baseurl }}/">{{ site.title.ja }}</a></h1>
    <p id="site-complement">佐藤研究室では超短パルスレーザー等を用いた磁性体やカイラル物質の制御・測定に挑戦しています。</p>
  </div>
</header>
<nav id="site-global-navigation">
  <div class="wrapper">
    <ul class="site-global-navigation-list">
      <li><a class="page-link" href="/">ホーム</a></li>
      {% for my_page in site.pages reversed %}
        {% if my_page.title %}
          {% if my_page.global_navi_ja %}
            {% unless my_page.global_nav_en %}
            <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endunless %}
          {% endif %}
        {% endif %}
      {% endfor %}
      <li><a class="page-link" href="/en/">English Page</a></li>
    </ul>
  </div>
</nav>
