<ul class="page-sub-menu">
  <li class="page-sub-menu-list col-x-2"><a href="/ja/publication/">論文 - 学術雑誌</a></li>
  <li class="page-sub-menu-list col-x-2"><a href="/ja/international-conference/">国際会議</a></li>
  <li class="page-sub-menu-list col-x-2"><a href="/ja/domestic-conference/">国内会議</a></li>
</ul>